{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Tasks</h1>
  <style>
   h1 {
    color: #007bff;
   }
  </style>
<ul class="list-group list-group-flush" id="Tasks">
  {% for task in user.tasks %}
  <li class="list-group-item">
    {{ task.data }}
    <button type="button" class="close" onClick="deleteTask({{ task.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    <input type="checkbox" onchange="change()"
           {% if task.status %} checked {% endif %}>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="task" id="task" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
</form>
{% endblock %}